/* .cell-login-3, .cell-login-1{
  background-image: url('kean.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
} */
/* .arcade{
  position: fixed;
  left: 10vw;
  top: 5vw;
} */
.counter-input{
  width: 50px;
}
.cell-teleop-1{
  min-width: 100vw !important;
  height: 80vh;
  margin-top: -15vh !important;
  padding-left: 0 !important;
  padding-right: 0;
  background: url('field.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 80vw 60vh;
}
.body-div-teleop{
  overflow: hidden;
}
.button-scale{
  position: relative;
  left: 38vw;
  top: 38.5vh;
  height: 5vh;
  width: 5vw;
  font-size: 1.25vw;
}
.button-bluePortal1{
  position: relative;
  left: -4.5vw;
  top: 12.5vh;
  height: 5vh;
  font-size: 1.25vw;
  width: 9vw;
}
.button-redPortal1{
  position: relative;
  left: 47.5vw;
  top: 12.5vh;
  height: 5vh;
  font-size: 1.25vw;
  width: 9vw;
}
.button-bluePortal2{
  position: relative;
  left: -13vw;
  top: 63.5vh;
  height: 5vh;
  font-size: 1.25vw;
  width: 9vw;
}
.button-redPortal2{
  position: relative;
  left: 38.5vw;
  top: 63.5vh;
  height: 5vh;
  width: 9vw;
  font-size: 1.25vw;
}
.button-blueSwitch{
  position: relative;
  left: 9vw;
  top: 51.5vh;
  height: 5vh;
  width: 8.5vw;
  font-size: 1.25vw;
}
.button-redSwitch{
  position: relative;
  left: -27vw;
  top: 51.5vh;
  height: 5vh;
  width: 8.5vw;
  font-size: 1.25vw;
}
.button-redExchange{
  position: relative;
  left: -67.5vw;
  top: 32.5vh;
  height: 5vh;
  width: 10vw;
  font-size: 1.25vw;
}
.button-blueExchange{
  position: relative;
  left: 11.5vw;
  top: 43.5vh;
  height: 5vh;
  width: 10.1vw;
  font-size: 1.25vw;
}
.button-redPlatform{
  position: relative;
  left: -59.5vw;
  top: 28vh;
  height: 5vh;
  width: 9vw;
  font-size: 1.25vw;
}
.button-bluePlatform{
  position: relative;
  left: -35.5vw;
  top: 28vh;
  height: 5vh;
  width: 9.5vw;
  font-size: 1.25vw;
}
.button-ground{
  position: relative;
  left: 34vw;
  top: 55vh;
  height: 5vh;
  width: 13vw;
  font-size: 1.25vw;
}
.button-drop{
  position: relative;
  left: 22vw;
  top: 10vh;
  height: 5vh;
  width: 10.5vw;
  font-size: 1.25vw;
}
.giza-blue{
  position: absolute;
  left: 56.5vw;
  top: 38vh;
  right: 50vh;
  height: 5vh;
  width: 8vw;
  font-size: 1.25vw;
}
.giza-red{
  position: absolute;
  left: 16vw;
  top: 38vh;
  height: 5vh;
  width: 8vw;
  font-size: 1.25vw;
}
.body-div-teleop hr{
  display: none;
}
.hidden{
  display: none;
}
.modal-header{
  text-align: center;
}
.nav-btns{
  margin-top: 8vh;
}
.matchNum-wrap{
  margin-top: 0 !important;
}
