/* .cell-login-3, .cell-login-1{
  background-image: url('kean.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
} */
/* .arcade{
  position: fixed;
  left: 10vw;
  top: 5vw;
} */
.counter-input{
  width: 50px;
}
.cell-teleop-1{
  min-width: 100vw !important;
  height: 80vh;
  margin-top: -15vh !important;
  padding-left: 0 !important;
  padding-right: 0;
  background: url('field.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 80vw 60vh;
}
.body-div-teleop{
  overflow: hidden;
}
.button-scale{
  position: relative;
  left: 38vw;
  top: 38.5vh;
  height: 3.5vh;
  width: 4vw;
  font-size: .9vw;
}
.button-bluePortal1{
  position: relative;
  left: -2.5vw;
  top: 12.5vh;
  height: 3.5vh;
  font-size: .9vw;
  width: 7.5vw;
}
.button-redPortal1{
  position: relative;
  left: 51vw;
  top: 12.5vh;
  height: 3.5vh;
  font-size: .9vw;
  width: 7.5vw;
}
.button-bluePortal2{
  position: relative;
  left: -10.5vw;
  top: 63.5vh;
  height: 3.5vh;
  font-size: .9vw;
  width: 7.5vw;
}
.button-redPortal2{
  position: relative;
  left: 43vw;
  top: 63.5vh;
  height: 3.5vh;
  width: 7.5vw;
  font-size: .9vw;
}
.button-blueSwitch{
  position: relative;
  left: 15vw;
  top: 51vh;
  height: 3.5vh;
  width: 6.5vw;
  font-size: .9vw;
}
.button-redSwitch{
  position: relative;
  left: -19.5vw;
  top: 51vh;
  height: 3.5vh;
  width: 6.5vw;
  font-size: .9vw;
}
.button-redExchange{
  position: relative;
  left: -55vw;
  top: 32.5vh;
  height: 3.5vh;
  width: 8vw;
  font-size: .9vw;
}
.button-blueExchange{
  position: relative;
  left: 20.3vw;
  top: 43.5vh;
  height: 3.5vh;
  width: 8vw;
  font-size: .9vw;
}
.button-redPlatform{
  position: relative;
  left: -45.7vw;
  top: 30vh;
  height: 3.5vh;
  width: 7vw;
  font-size: .9vw;
}
.button-bluePlatform{
  position: relative;
  left: -20.2vw;
  top: 30vh;
  height: 3.5vh;
  width: 7vw;
  font-size: .9vw;
}
.body-div-teleop hr{
  display: none;
}
.hidden{
  display: none;
}
.modal-header{
  text-align: center;
}
