body{
  overflow-x: hidden;
}
.btn-lookup{
  position: absolute;
}
/* .lookup-hswitch{
  left: 31vw;
  bottom: 20vh;
}
.lookup-oswitch{
  right: 29.5vw;
  bottom: 20vh;
}
.lookup-hplatform{
  left: 39vw;
  bottom: 26vh;
}
.lookup-oplatform{
  right: 36vw;
  bottom: 26vh;
}
.lookup-exchange{
  left: 15vw;
  bottom: 28.5vh;
}
.lookup-portal{
  right: 10vw;
  bottom: 46.5vh;
}
.lookup-scale{
  right: 46.5vw;
  bottom: 18vh;
} */
